<div class="container">
  <div class="row">
    <div class="col-xs-6">
      
        <div
          class="panel panel-default">
          <div class="panel-heading"><h3>Cards</h3></div>
          <div class="panel-body" *ngFor="let card of cards">
            <p>Title: {{ card.name }}</p>
            <p>Due: {{ card.due }}</p>
            <hr>
          </div>
        </div>

    </div>
    <div class="col-xs-6">

        <div
          class="panel panel-default">
          <div class="panel-heading"><h3>Notified</h3></div>
          <div class="panel-body" *ngFor="let card of notifiedCards">
            <h4>Title: {{ card.name }}</h4>
            <p>Due: {{ card.due }}</p>
          </div>
        </div>
      

    </div>
  </div>
</div>

